@font-face {
    font-family: kombatFont;
    src: url(../fonts/mkmyth.ttf);
}
body{
    font-family: kombatFont;
}
em{
    font-style: normal;
}

/*IDS section*/
#presentation{
    text-align: center;
    font-size: 250px;
}
#ragtime{
    color:#EAE509;
    font-style: normal;
}
#company{
    position: relative;
    bottom: 180px;
    color: #8D6EC8;
}
#autors{
    position: relative;
    bottom: 260px;
    margin-left: 250px;
}

/*CLASSES SECTION*/

/*Este estilo ayuda a delimitar el ancho del navbar que contiene el nombre de la compañia, del lado superior izquierdo*/
.navbar-brand{
   width: 18%;
}

.companyName{
    font-size: 40px;
}


.pictureMenu
{
   width: 50px;
   height: 50px; 
}

.nav-item{
padding: 0 4px;
}

#segunda
{
padding:1% 2%;
}

.feature-box{
text-align:center;
}

#testimonials{
text-align:center;
}

.testimonial-image{
width:10%;
border-radius:100%;
margin:1%;
}