  * {
   /* outline: 1px solid red;*/
 } 
 @font-face {
    font-family: kombatFont;
    src: url(../fonts/mkmyth.ttf);
}
 body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/patron1.jpg");
    background-attachment: fixed;/* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
    background-size: cover; /* The MOST important part, this is what makes the background image rescale based on the container’s size */
    color:white;
}

 
 /******************************* MENU ********************************/
 #superior{
    position: fixed;
    width: 100%;
    margin: 0 ;
    font-family: kombatFont;
    src: url(../fonts/mkmyth.ttf);
    
 }

 #menu{
     padding: 0 1%;
 }
 
  /*---------Tips-------*/

#tips{
    text-align: center;
    font-size: 80%;
    color:white;
    padding: 1% 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbarNavDropdown{
    margin: 0;
}

 /******************************* SECCION PRESENTATION ***********************/
 #seccion_presentacion {
    background-image: url("../images/stage.jpg");
    background-position: center; /* Background image is centered vertically and horizontally at all times */ 
    background-repeat: no-repeat;
    background-attachment: fixed;/* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
    background-size: cover; /* The MOST important part, this is what makes the background image rescale based on the container’s size */
 }
 
 #seccion_presentacion img {
     width: 55%;
     height: auto;
 }
 
 
 
 /********************************* SECCION CONOCENOS *****************************/
 #seccion_conocenos{
     background-image: url("../images/ef6.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    

 }
 /*---------OpcionAcercaDeNosotros-------*/ 
 #opcionAcercaDeNosotros img{
     border-radius: 100%;
     width: 60%;
     height: auto;
     margin: 5% 0;
 }
 
  /*---------Fundadores-------*/
#seccion_fundadores{
    background-image: url("../images/ef3.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    }
 
 #fundadores img {
     width: 70%;
     height: auto;
     border-radius: 100%;
     margin: 5% 0;
 }
 
 /****** DANCERS ******/
 
 #dancers {
     text-align: center;
     background-color: #BFACE2;
     padding: 2%;
 }
 
 #dancers img {
     width: 40%;
     border-radius: 100%;
     display: inline;
 }
 
 .carousel-inner {}
 
 .carousel-item {}
 
 /*.carousel-item{
     height:350px;    
     padding:5% 20%;
     } */
 
 
 /****** FAQs ******/
 
 #faqs {
     background-color: #C8DBBE;
 }

 /******************************** FINAL **********************************/
 /****** footer ******/
 #final {
     padding: 1% 0;
 }
 
 #footer {
     padding: 1% 0;
 }
 
 #footer .nav-link {
     padding: 0 5px 0 0;
 }
 
 
 /******************************** COMMONS **********************************/

 .secciones{
    height: 100vh;
    align-items: center;
    display: flex;
    color: white;
    font-family: kombatFont;
    src: url(../fonts/mkmyth.ttf);
    border: solid 1px blue;
}
.sub_secciones{    
        padding: 4% 5%;
        line-height: 35px;
}

.titulos_secciones{
    padding: 0 0 0 3%;
}
.subtitulos{
    margin: 0 0 5% 0;
}
.decripcion{
    padding: 0 20% 0 0; 
    line-height: 40px
}


h1, h2, h3, h4, h5, h6{
    font-family: kombatFont;
    src: url(../fonts/mkmyth.ttf);
}
 
 /*CLASSES SECTION*/
 
 /*Este estilo ayuda a delimitar el ancho del navbar que contiene el nombre de la compañia, del lado superior izquierdo*/
 /*.
 #autors{
     position: relative;
     bottom: 260px;
     margin-left: 250px;
 }
  position: relative;
     bottom: 180px;
 */
 
 
 
 .container {
     width: 54%;
 }
 
 .companyName {
     font-size: 40px;
 }
 
 
 
 
 .nav-item {
     padding: 0 4px;
 }
 
 #segunda {
     padding: 1% 2%;
 }
 
 .feature-box {
     text-align: center;
 }