footer {
    border: green 5px solid;
    background-color: #66347F;

    .container {
        .footer_media {
            margin: 10px 0;
        }

    }


    #sub_footer {
        background-color: rgb(80, 3, 80);
        padding: 10px;

        h5,
        h6 {
            display: inline;
        }
    }

}