/** Colores variables */
$white:#fff;


/** Fuentes */
$font-title: "Arial", "Helvetica", "sans-serif";



/** placeholders */


%general_text{
   font-family: $font-title;
   color:$white;
}

/*
1. Forma correcta de importar una fuente?
2. Forma de aplicar un texto o color a todos los partials sin repetirlo en cada sección?
3. Revisar como afectar el menu desplegable
4. Poner una image default en le body para cuando no haya una especifica se muestre la de default
*/


%ragtime_font{
    @font-face {
        font-family: 'kombatFont';
        src: url(../fonts/mkmyth.ttf);
    }
    font-family: 'kombatFont';
    
}

h1, h2, h3, h4, h5, h6{
   @extend %ragtime_font;
}

%sections_format{
    align-items: center;
    text-align: center;
    display: flex;
    @extend %ragtime_font;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
    img {
        width: 450px;
        height: auto;
       
    }
}
