
#main_header{
    position: fixed;
    margin: 0;
    border: solid yellow 2px;
    @extend %general_text;
    
    
    #brand_name{
        @extend %ragtime_font;
        h5, h6{
            display: inline;
           
        }
    }
    
        
}