#main_header {
    position:fixed;
    margin: 0;
    @extend %general_text;
    z-index: 1;


    #brand_name {
        @extend %ragtime_font;

        h5,
        h6 {
            display: inline;

        }
    }

    nav {
        a:hover {
            background-color: #66347F;
        }

        .dropdown-item:hover {
            background-color: #EAE509;
        }
    }

    #tips {
        font-size: 13px;
        text-align: center;
        margin: 0;
        padding: 17px 0 0 0;
        @extend %general_text;
    }

}