#registration_form{
    border: solid 2px yellow;
    margin-top: 45px;

    div{
        margin-bottom: 8px;
    }
    #message_area{
        height: 100px;
    }
}


.general_shadow.shadow{
    border: 5px solid salmon;
}


.hidden_message_format {
    visibility: hidden; 
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.hidden_message_format.show_message {
    visibility: visible;
}