    /***********************************************************************************************
                                      Contact
************************************************************************************************/
#contactSection{
    //IMAGEN DE FONDO PARA ESTA SECCION

   }
#contactForm{
    .ragtimeButton{
        @extend %ragtimeButtonFormat;
    } 
}

   
   #location{
       position: relative;
       overflow: hidden;
       padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
       border:double 10px purple;
   }
   
   .responsiveIframe{
    @extend %responsiveIframeFormat;
   }