
#navBar {
    @extend %general_text;
    
    .brandName{
        @extend %brandNameFormat;
    }

    Nav {
        NavDropdown.Item:hover {
            background-color: #66347F;
        }

        .dropdown-item:hover {
            background-color: #EAE509;
        }
    }

    #tips {
        font-size: 13px;
        text-align: center;
        margin: 0;
        padding: 17px 0 0 0;
        @extend %general_text;
        color: white;
    }

}