 /******************************* Commons Section ***********************/
 .sections {
   @extend %sectionsFormat;
 }
 .subsections{
  @extend %subsectionsFormat;
 }

 .sectionTitles {
   @extend %sectionTitlesFormat;
 }
 .subTitles{
  @extend %subtitlesFormat;
 }


 /******************************* Introduction Section ***********************/
 #introduction_section {
   background-image: url("../images/wallpapers/scenario4.jpeg");
   text-align: center;
   padding-bottom:85px; //Asegura que el contenido nunca sea cubierto por el footer que mide 50px
   

   img {
     width: 40%;
     height: auto;
   }

 }

  /***********************************************************************************************
                                         Menu Conocenos 
************************************************************************************************/

 /******************************* MeetUs Section ***********************/

 #aboutUsSection {
   background-image: url("../images/wallpapers/ac4.jpeg");

 }


 #aboutUsOption {
   img {
     border-radius: 100%;
     width: 60%;
     height: auto;
     margin: 5% 0;
     border: salmon solid 5px;
   }
   q{
    padding: 0 15%;
   }
   h3, p{
    padding: 0 50% 0 0;
   }
 }

 /******************************* Founders Section ***********************/

 #foundersSection {
   background-image: url("../images/wallpapers/founders_section.jpeg");
 }


 #founders {

  H4{
    text-decoration: underline;
  }
div{
  text-align: center;
   img {
     width: 80%;
     height: auto;
     border-radius: 100%;
     margin: 5% 0;
   }
  }
 }
/******************************* Dancers Section ***********************/
 #dancersSection{
  background-image: url("../images/wallpapers/dancers_section.jpeg");

  } 
 

  #dancers{
    text-align: center;
    line-height: normal;
    
    img{
    width: 200px;
    height: auto;
    border-radius: 100%;
    display: inline;
    margin: 10px 0;
    }
    .dancersSpace{
      margin: 25px 0;
      padding: 0;
      div{
        border: lightgray dashed 1px;
        border-radius: 10px;
        padding: 20px 5px;
      }
    }

    .carousel-item{ 
      padding:0% 10%;
      } 

  }
     /***********************************************************************************************
                                        Activities 
************************************************************************************************/

#openClassesSection{
  background-image: url("../images/wallpapers/clases_abiertas.jpeg");
} 
/*---------Clase de bachata-------*/

#openClasses img{
width: 90%;
height: auto;
border-radius: 10%;
}
#openClasses .hr{
margin: 4% 0;
}


/*---------Entrenamiento Compañia-------*/
#companyTrainingSection{
background-image: url("../images/compañia.jpg");
}

    /***********************************************************************************************
                                      Contact
************************************************************************************************/
#contact_section{
  border: solide red 2px;
}

#location{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    border: solid 3px red;
  
}

.responsive_iframe{
 @extend %responsive-iframe;
}


    /***********************************************************************************************
                                       Registration form
************************************************************************************************/
#registration_section{
  border: solid 2px blueviolet;
}