@charset "UTF-8";
#main_header {
  position: fixed;
  margin: 0;
  z-index: 1;
}
#main_header #brand_name h5,
#main_header #brand_name h6 {
  display: inline;
}
#main_header nav a:hover {
  background-color: #66347F;
}
#main_header nav .dropdown-item:hover {
  background-color: #EAE509;
}
#main_header #tips {
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 17px 0 0 0;
}

footer {
  border: green 5px solid;
  background-color: #66347F;
}
footer .container .footer_media {
  margin: 10px 0;
}
footer #sub_footer {
  background-color: rgb(80, 3, 80);
  padding: 10px;
}
footer #sub_footer h5,
footer #sub_footer h6 {
  display: inline;
}

/** Colores variables */
/** Fuentes */
/** Quitando espacios*/
/***********************************************************************************************
                                         Body in all pages
************************************************************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-image: url("../images/wallpapers/general.jpg");
  background-attachment: fixed; /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
  /* background-size: cover; /* The MOST important part, this is what makes the background image rescale based on the container’s size */
}

/***********************************************************************************************
                                         Placeholders
************************************************************************************************/
#main_header, #main_header #tips {
  font-family: "Arial", "Helvetica", "sans-serif";
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6, #main_header #brand_name {
  font-family: "kombatFont";
}
@font-face {
  font-family: "kombatFont";
  src: url(../fonts/mkmyth.ttf);
}

/***********************************************************************************************
                                            Titles & subtitles
************************************************************************************************/
.subtitles {
  margin: 0 0 5% 0;
}

/***********************************************************************************************
                                           Sections and subsections
************************************************************************************************/
.sections {
  align-items: center;
  display: flex;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section_titles {
  padding: 0 0 0 5%;
}
.section_titles h2 {
  line-height: 2px;
}

.subsections {
  padding: 4% 5%;
  line-height: 30px;
}

/*
1. Forma correcta de importar una fuente?
2. Forma de aplicar un texto o color a todos los partials sin repetirlo en cada sección?
3. Revisar como afectar el menu desplegable
4. Poner una image default en le body para cuando no haya una especifica se muestre la de default
*/
/***********************************************************************************************
                                          Media querys
************************************************************************************************/
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  .section_titles h1 {
    font-size: 70px;
    color: green;
  }
  .section_titles h2 {
    font-size: 40px;
  }
}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .section_titles h1 {
    font-size: 70px;
    color: yellow;
  }
  .section_titles h2 {
    font-size: 40px;
  }
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .section_titles h1 {
    font-size: 50px;
    color: red;
  }
  .section_titles h2 {
    font-size: 20px;
  }
}
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .section_titles h1 {
    font-size: 35px;
    color: blue;
  }
  .section_titles h2 {
    font-size: 20px;
  }
  #dancers_section {
    background-image: url("../images/wallpapers/dancers.jpeg");
    background-size: 50%;
  }
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  .section_titles h1 {
    font-size: 35px;
    color: pink;
  }
  .section_titles h2 {
    font-size: 20px;
  }
  #dancers_section {
    background-image: url("../images/wallpapers/dancers.jpeg");
    background-size: 50%;
  }
}
/******************************* Commons Section ***********************/
/******************************* Introduction Section ***********************/
#introduction_section {
  background-image: url("../images/wallpapers/scenario4.jpeg");
  border: 5px solid red;
  text-align: center;
}
#introduction_section img {
  width: 40%;
  height: auto;
}

/***********************************************************************************************
                                         Menu Conocenos 
************************************************************************************************/
/******************************* MeetUs Section ***********************/
#meetUs_section {
  background-image: url("../images/wallpapers/ac4.jpeg");
}

#aboutUs_option {
  border: blue solid 3px;
}

#aboutUs_option img {
  border-radius: 100%;
  width: 60%;
  height: auto;
  margin: 5% 0;
  border: salmon solid 5px;
}

/******************************* Founders Section ***********************/
#founders_section {
  background-image: url("../images/wallpapers/ef3.jpg");
}

#founders H4 {
  text-decoration: underline;
}
#founders div {
  text-align: center;
}
#founders div img {
  width: 80%;
  height: auto;
  border-radius: 100%;
  margin: 5% 0;
}

/******************************* Dancers Section ***********************/
#dancers_section {
  background-image: url("../images/wallpapers/dancers.jpeg");
  background-size: 100% 100%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  #dancers_section {
    background-image: url("../images/wallpapers/dancers.jpeg");
    background-size: 50%;
  }
}
#dancers {
  text-align: center;
  line-height: normal;
}
#dancers img {
  width: 200px;
  height: auto;
  border-radius: 100%;
  display: inline;
  margin: 10px 0;
}
#dancers .dancers_space {
  margin: 25px 0;
  padding: 30px 10px;
  border: white solid 2px;
}
#dancers .carousel-item {
  padding: 0% 10%;
}

/*# sourceMappingURL=main.css.map */
